<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pomelo.tell" version="0.1.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Warmapp</name>
    <description>
        Conocé chicos y chicas que van a bailar a donde vas vos!
    </description>
    <author email="suelopoder@gmail.com">
        Diego Sisto
    </author>
    <author email="eritiro@gmail.com">
        Emiliano Ritiro
    </author>
    <content src="index.html" />
    <access origin="*" />
    <access origin="tel:*" launch-external="yes"/>
    <access origin="geo:*" launch-external="yes"/>
    <access origin="mailto:*" launch-external="yes"/>
</widget>
