<div tell-sidebar id="sidebar"></div>
<div notification-icon></div>

<h1 ng-click="showUser()">{{user.username}}</h1>

<div class="chat-box" scroll-glue>
  <div class="message" style="white-space: pre;" ng-repeat="message in messages" ng-class="{ mine: message.mine }">{{ message.text }}</div>
</div>

<form class="chat-write" >
  <textarea ng-model="message" rows="1" is-focused="true" />
  <button type="submit" ng-click="chat()" class="btn btn-success">
    <i class="fa fa-caret-right"></i>
  </button>
</form>
