<div tell-sidebar id="sidebar"></div>
<div class="top-bar">
  <div class="action back" ng-click="back()">
    <i class="fa fa-angle-left"></i>
  </div>
  <h1 ng-click="showUser()">{{user.username}}</h1>
</div>
<div class="content chat-box" scroll-glue>
  <div class="message" ng-repeat="message in messages" ng-class="{ mine: message.mine }">{{ message.text }}</div>
</div>
<div class="chat-write" >
  <textarea ng-model="message" rows="1" is-focused="true" />
  <button type="submit" ng-click="chat()" class="btn btn-success">
    <i class="fa fa-caret-right"></i>
  </button>
</div>
