<img ng-if="!ready" class='loading' src="img/loading.gif" />
<div class="container-fluid">
  <h1>Bienvenido a Tell</h1>
  <p>¡Todas las opiniones desde el celular!</p>

  <form class="form-horizontal" role="form" ng-submit="signUp()">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Nombre de usuario</label>
      <div class="col-sm-10">
        <input ng-model="user.username" class="form-control" id="inputEmail3" placeholder="Nombre">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input ng-model="user.email" type="email" class="form-control" id="inputEmail3" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10">
        <input ng-model="user.password" type="password" class="form-control" id="inputPassword3" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Repet&iacute; el Password</label>
      <div class="col-sm-10">
        <input ng-model="user.password_confirmation" type="password" class="form-control" id="inputPassword3" placeholder="Repetir Password">
      </div>
    </div>
    <div class="form-group">
      <div class="error col-sm-offset-2 col-sm-10" ng-show="error">{{ error }}</div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default btn-large center-block">¡Registrate!</button>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" class="btn btn-success btn-large center-block" ng-click="fbLogin()">Login con Facebook</button>
      </div>
    </div>
  </form>
  <p>
    <a href="#/users/sign_in" class="btn btn-link">¡Ya estoy registrado papá!</a>
  </p>
</div>
