<h1>Registración</h1>
<div class="container-fluid">

  <form class="form-horizontal" role="form" ng-submit="signUp()">
    <div class="form-errors" ng-show="user.errors">
      <h3>Ups...</h3>
      <ul>
        <li ng-repeat="value in user.errors">
          El campo {{value}}
        </li>
      </ul>
    </div>
    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input id="email" ng-model="user.email" type="email" class="form-control" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-2 control-label">Contraseña</label>
      <div class="col-sm-10">
        <input id="password" ng-model="user.password" type="password" class="form-control" placeholder="Contraseña">
      </div>
    </div>
    <div class="form-group">
      <label for="password_confirmation" class="col-sm-2 control-label">Confirmar Contraseña</label>
      <div class="col-sm-10">
        <input id="password_confirmation" ng-model="user.password_confirmation" ng-init="user.password_confirmation=''" type="password" class="form-control" placeholder="Repetir Contraseña">
      </div>
    </div>
    <div class="form-group">
      <div class="error col-sm-offset-2 col-sm-10" ng-show="error">{{ error }}</div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success btn-large center-block">¡Registrate!</button>
      </div>
    </div>
  </form>
</div>
