<div class="top-bar">
  <div class="action back" ng-click="back()">
    <i class="fa fa-angle-left"></i>
  </div>
  <h1>{{user.username}}</h1>
  <div class="user-actions"  ng-if="ready">
    <div class="action" ng-click="invite()" ng-if="!user.was_invited" >
      <i class="fa fa-glass"></i>
    </div>
    <div class="action" ng-click="chat()">
      <i class="fa fa-weixin"></i>
    </div>
  </div>
</div>
<div tell-sidebar id="sidebar"></div>
<div class="user content">
  <div class="fixed-ratio-container ratio-1-1">
    <div class="dummy"></div>
    <img ng-src="{{ user.picture }}" />
  </div>

  <div class="user_info">
    <p ng-if="user.location && user.id !== currentUser.id">
      {{ where }} <a href="#/locations/{{user.location.id}}">{{user.location.name}}</a>
    </p>
  </div>
</div>
