<div tell-sidebar id="sidebar"></div>

<div class="content full_app">
  <div class="full_logo">
    <img src="img/logo.png" />
  </div>

  <h1 class="welcome">¡Bienvenido!</h1>

  <div class='login-options' ng-if='login_ready'>
    <a ng-click="fbLogin()" class="btn btn-success btn-signup fb-login">
      <i class="fa fa-facebook-square"></i>
      Ingresá con Facebook
    </a>
    <p class="login-message">
      Prometemos no utilizar tus datos para campañas de marketing de terceros o enviar SPAM.
      Como así tampoco publicar en facebook sin tu permiso expreso.
    </p>
  </div>
</div>