<div class="user">
  <h1>{{user.name}}</h1>

  <div class="user_photo">
    <img src="{{user.photo}}" />
  </div>

  <div class="user_accions">
    <button type="button" ng-if="!user.invited" ng-click="invite()" class="btn btn-success"><i class="icon-beer"></i> Invitar un trago</button>
    <button type="button" ng-if="user.invited" class="btn btn-warning"><i class="icon-beer"></i>¡Trago enviado!</button>
    <button type="button" ng-click="chat()" class="btn btn-success"><i class="icon-comment-alt"></i> Escribir</button>
  </div>
</div>
