<div class="user">
  <h1>{{user.name}}</h1>

  <div class="user_photo">
    <img src="{{user.photo}}" />
  </div>

  <div class="user_accions">
    <button type="button" ng-if="!user.invited" ng-click="invite()" class="btn btn-success">
      <i class="fa fa-glass"></i>
      Invitar trago
    </button>
    <button type="button" ng-if="user.invited" class="btn btn-warning active">
      <i class="fa fa-check"></i>
      ¡Enviado!
    </button>
    <button type="button" ng-click="chat()" class="btn btn-success">
      <i class="fa fa-weixin"></i>
      Escribir
    </button>
  </div>
</div>
