<h1>Bienvenido</h1>
<div class='tutorial-description' >
  <p>
    Tell te permite escanear los codigos que están en la puerta de todos los negocios de la Argentina (Codigos QR o Data Fiscal) para consultar opiniones y comentarios que otras personas hicieron sobre el local. Luego podes compartir tu propia experiencia calificando y escribiendo tu propio comentario.
  </p>
  <p>
    Queremos hacer una comunidad de consumidores que se protejen entre si, ¿te sumas?
  </p>
  <p>
    En este breve tutorial te vamos a explicar cómo hacerlo.
  </p>
  <button ng-click="next()" class="btn btn-primary pull-right">Siguiente</button>
</div>
