<div tell-sidebar id="sidebar"></div>

<h1>Bienvenido</h1>
<div class='tutorial-description' >
  <p>
    Tell te permite escanear los codigos que están en la puerta de todos los negocios de la Argentina (Codigos QR o Data Fiscal) para consultar opiniones y comentarios que otras personas hicieron sobre el local. Luego podes compartir tu propia experiencia calificando y escribiendo tu propio comentario.
  </p>
  <p>
    En este breve tutorial te vamos a explicar cómo hacerlo.
  </p>
</div>

<div class="navbar actionbar navbar-fixed-bottom tutorial-buttons">
  <button ng-click="next()" class="btn btn-primary">Siguiente</button>
</div>
