<form role="form">

  <div class="form-group">
    <div class="rating">
      <span ng-repeat="i in [1,2,3,4,5]" ng-click="setScore($index)">
        <img ng-if="$index < score" src="img/white-star.png" />
        <img ng-if="$index >= score" src="img/black-star-2.png" />
      </span>
    </div>
  </div>
  
  <div class="form-group">
    <textarea class="form-control" rows="5" placeholder="Deja un comentario sobre tu experiencia" ng-model="text"></textarea>
  </div>
  
  <button type="button" class="btn btn btn-success btn-lg" ng-click="send()">Enviar</button>
</form>
