<div tell-tabs current="feeds"></div>
<div tell-sidebar id="sidebar"></div>
<div class="content night" ng-swipe-left="swipeLeft()">

  <div class="feeds-call-to-action" ng-click="find()" ng-if="!user.location">
    <em>Emiliano</em>,
    ¿A <em>donde</em> vas a salir esta <em>noche</em>?
  </div>

  <ul class="list-group feeds">
    <li class="list-group-item header">
      news feeds
    </li>
    <li class="list-group-item" ng-repeat="feed in feeds" ng-click="resolve(feed)" ng-bind-html="feed.content">
    </li>
    <li class="list-group-item">
      <h3>Actualizamos el listado de locales de Palermo</h3>
      <div class="clearfix"></div>
    </li>
    <li class="list-group-item">
      <img class="icon" src="http://warmapp.startmeapps.com/system/users/pictures/000/000/006/icon/tefy.jpg?1417803650">
      <img class="icon" src="http://warmapp.startmeapps.com/system/users/pictures/000/000/004/icon/208727_10151370585148285_700135972_n.jpg?1417817382">
      <img class="icon" src="http://warmapp.startmeapps.com/system/users/pictures/000/000/009/icon/flopy.jpeg?1417803655">
      <p>Bienvenidos a warmapp!</p>
      <div class="clearfix"></div>
    </li>
    <li class="list-group-item">
      <h3>Actualizamos el listado de locales de Caballito</h3>
      <div class="clearfix"></div>
    </li>
    <li class="list-group-item">
      <h3>Esta noche con lista, todos gratis Club Araoz</h3>
      <small>Hasta las 2am, con la app de warmapp</small>
      <div class="clearfix"></div>
    </li>
  </ul>
</div>