<div tell-tabs current="feeds"></div>
<div tell-sidebar id="sidebar"></div>

<script type="text/ng-template" id="users-feed">
  <div>
    <div class="icons-list">
      <img ng-repeat="user in feed.users" class='icon' ng-src='{{ user.icon }}' hm-tap='showUser(user.id)' />
    </div>
    <p>{{ feed.title }}</p>
  </div>
</script>
<script type="text/ng-template" id="message-feed">
  <div hm-tap="go()">
      <h3>{{ feed.title }}</h3>
      <small>{{ feed.detail }}</small>
  </div>
</script>

<div class="content night" hm-swipeleft="swipeLeft()" hm-manager-options='{"touchAction":"pan-y"}'>

  <div class="feeds-call-to-action" ng-click="find()" ng-if="!user.location">
    <em>{{ user.username }}</em>,
    ¿A <em>donde</em> salís esta <em>noche</em>?
  </div>

  <ul class="list-group feeds">
    <li class="list-group-item header">
      NEWS
    </li>
    <li class="list-group-item" ng-repeat="feed in user.feeds">
      <div class="time">
        <small>{{ relativeTime(feed.created_at) }}</small>
      </div>
      <div ng-switch data-on="feed.type">
        <div ng-switch-when="users" users-feed="feed"></div>
        <div ng-switch-when="message" message-feed="feed"></div>
      </div>
      <div class="clearfix"></div>
    </li>
  </ul>
</div>