<div class="home-background" >
  <img class="logo" src="img/logo.png" ></img>

    <div class="home-row">
      <p>Tell te permite leer y comentar sobre locales cerca tuyo</p>
      <p>Escaneá un código QR para comenzar</p>
    </div>

    <div class="home-row">
      <button type="button" class="btn btn-success btn-lg" ng-click="scan()">
        <img height="50" src="img/tell-qr-trans.png" />
        Escanear
      </button>

      <button type="button" class="btn btn-success btn-lg" ng-click="recents()">
        <img height="50" src="img/clock.png" />
        Recientes
      </button>
    </div>
</div>