<div tell-sidebar id="sidebar"></div>

<div class="home-background" >
  <img class="home-logo" src="img/logo.png" ></img>

  <div class="home-welcome">
    ¡Bienvenido!
  </div>

  <div class="home-description">
    Escaneá el código del <br/>local
  </div>

    <div class="home-row">
      <button type="button" class="btn btn-success btn-lg" ng-click="scan()">
        <img class="home-qr" src="img/tell-qr-trans.png" />
        ¡Escaneá!
      </button>

      <button type="button" class="btn btn-success btn-lg" ng-click="recents()">
        <img class="home-clock" src="img/clock.png" />
        Recientes
      </button>

      <button type="button" class="btn btn-success btn-lg" ng-click="tutorial()">
        <img class="home-clock" src="img/tutorial.gif" />
        Tutorial
      </button>

  </div>
</div>
