<div tell-sidebar id="sidebar"></div>
<div notification-icon></div>

<div class="home-background" style="width: 100%">

  <img class="home-logo" src="img/logo.png" ></img>

  <div class="home-welcome">
    ¿A dónde salis hoy?
  </div>

  <form role="form" class="home-form">
    <div class="form-group">
      <input type="text" class="form-control" id="home-find-name" placeholder="Nombre del boliche" ng-model="name" />
    </div>

    <button type="submit" class="btn btn-success" ng-click="find()">
      <i class="fa fa-search"></i>Buscar
    </button>
  </form>
</div>
