&nbsp;
<img class="location-image" src="https://www.universalorlando.com/Images/HRCExterior_tcm13-13662.JPG" />
<div class="location-body">
  <h1>{{ location.name }}</h1>
  <div class="total-rating" >
    <div class='stars' style='width:{{ location.score * 46 }}px'></div>
  </div>
  <div class='location-section' >
    <img src='img/address.png' />
    <div>
      {{ location.address | lowercase }}
    </div>
  </div>

  <div class='location-section'>
    <img class='icon' src='img/phone.png' />
    <div>
      <a href="tel://{{ location.phone }}">
        {{ location.phone }}
      </a>
    </div>
  </div>
  <hr></hr>
  <div ng-repeat="comment in location.comments">
    <div>
      <span ng-repeat="i in [1,2,3,4,5]" >
        <span ng-if="$index < comment.score">
            &#x2605;
        </span>
        <span ng-if="$index >= comment.score">
            &#x2606;
        </span>
      </span>
    </div>
    <p>
      {{ comment.text }}
      <br/>
      <div style='text-align:right'>
        <i>- {{ comment.author.username }}</i>
      </div>
    </p>
    <hr></hr>
  </div>

</div>
<div class="navbar actionbar navbar-fixed-bottom">
  <div class="rating" >
    <span ng-repeat="i in [1,2,3,4,5]" ng-click='addComment($index)'>
      <img ng-if="$index < score" src="img/white-star.png" />
      <img ng-if="$index >= score" src="img/black-star-2.png" />
    </span>
  </div>
</div>