<div tell-tabs current="notifications"></div>
<div tell-sidebar id="sidebar"></div>

<div class="content night" hm-swiperight="swipeRight()" hm-manager-options='{"touchAction":"pan-y"}'>
  <ul class="list-group notifications" ng-if="user.notifications.length > 0">
    <li class="list-group-item" ng-repeat="notification in user.notifications" hm-tap="go(notification)" read="{{notification.read}}" hm-press="delete(notification)">
      <img ng-src="{{ notification.from.thumb }}" />
      <div class="name">{{ notification.from.username }}</div>
      <div class="text">{{ notification.text }}</div>
      <div class="clearfix"></div>
    </li>
  </ul>
  <div class="message-sign" ng-if="user.notifications.length === 0">
    <h3>Todavía no tenés notificaciones de otros usuarios.</h3>
    Para charlar con otros usuarios tenés que tocar en la foto de perfil. Buscalos entre las novedades y entre los asistentes del boliche.
  </div>
</div>