<div tell-sidebar id="sidebar"></div>

<h1>Notificationes</h1>

<ul class="list-group notifications">
  <li class="list-group-item" ng-repeat="notification in notifications" ng-click="showNotifications" read="{{notification.read}}">
    <img ng-src="{{notification.user.photo}}" />
    <div class="location-item-data">
      <h2 ng-if="notification.type==='invite'"><i class="fa fa-glass"></i></h2>
			<h2 ng-if="notification.type==='message'"><i class="fa fa-weixin"></i></h2>
      <small>{{ notification.text }}</small>
    </div>
    <div class="clearfix"></div>
  </li>
</ul>
