<img src="img/logo.png" class="logo" />

<div class="option" ng-class="{ search: status === 'search' }">
	<input type="search" placeholder="Boliche" ng-model="query" />
	<i class="fa fa-search" ng-click="go('find')"></i>
</div>

<div class="option" ng-class="{active: active('notifications')}" ng-click="go('notifications')" ng-show="status === 'iddle'">
	<i class="fa fa-comments-o"></i>
</div>

<div class="option" ng-class="{active: active('location')}" ng-click="go('location')" ng-show="status === 'iddle'">
	<i class="fa fa-beer"></i>
</div>

<div class="option" ng-class="{active: active('feeds')}" ng-click="go('feeds')" ng-show="status === 'iddle'">
	<i class="fa fa-newspaper-o"></i>
</div>