<div class="top-bar">
  <a href="#/feeds" tabindex="-1">
    <img src="img/logo.png" class="logo-icon" />
  </a>
  <div class="tabs">
    <a class="action" href="#/feeds" tabindex="-1">
      <i class="fa fa-newspaper-o"></i>
    </a>
    <a class="action" href="#/locations/attendees" tabindex="-1">
      <div class="attend"></div>
    </a>
    <a class="action" href="#/notifications" tabindex="-1">
      <p ng-if="user.unread_notifications">{{ user.unread_notifications }}</p>
      <i class="fa fa-comments-o notifications-icon"></i>
    </a>

    <div class="current-tab {{active}}" ></div>
  </div>

  <a class="action search" href="#/locations?backto={{currentUrl}}" tabindex="-1">
    <i class="fa fa-search"></i>
  </a>

</div>