<div class="top-bar">
  <img src="img/logo.png" class="logo-icon" />

  <div class="tabs">
    <a class="action" href="#/feeds" tabindex="-1">
      <i class="fa fa-newspaper-o"></i>
    </a>
    <a class="action" href="#/locations/attendees" tabindex="-1">
      <i class="fa fa-beer"></i>
    </a>
    <a class="action" href="#/notifications" tabindex="-1">
      <i class="fa fa-comments-o"></i>
    </a>

    <div class="current-tab {{active}}" ></div>
  </div>

  <a class="action search" href="#/locations?backto={{currentUrl}}" tabindex="-1">
    <i class="fa fa-search"></i>
  </a>

</div>