<div tell-tabs current="location"></div>
<div tell-sidebar id="sidebar"></div>

<div class="content night" hm-swipeleft="swipeLeft()" hm-swiperight="swipeRight()" hm-manager-options='{"touchAction":"pan-y"}'>
  <div ng-if="location">
    <div class="fixed-ratio-container ratio-2-1">
      <div class="dummy"></div>
      <img ng-src="{{ location.banner }}" ng-click="showInfo()" />
    </div>
    <div class="attendees-container">
      <div class="fixed-ratio-container ratio-1-1" ng-repeat="attendee in location.attendees" ng-click="showAttendee(attendee.id)">
        <div class="dummy"></div>
        <img ng-src="{{attendee.picture}}" />
      </div>
    </div>
  </div>
  <div ng-if="!location">
    <div class="message-sign">
      <h3>¡Todavia no elegiste a donde vas!</h3>
      Acá te mostramos todos los usuarios que asistirán al mismo lugar.
      Para comenzar, tocá el ícono de buscar.
    </div>
    <i class="search-pointer fa fa-arrow-up"></i>
  </div>
</div>