<div tell-tabs current="location"></div>
<div tell-sidebar id="sidebar"></div>

<div class="content" ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()">
  <div class="fixed-ratio-container ratio-2-1">
    <div class="dummy"></div>
    <img ng-src="{{ location.banner }}" ng-click="showInfo()" />
  </div>
  <div class="attendees-container">
    <div class="fixed-ratio-container ratio-1-1" ng-repeat="attendee in location.attendees" ng-click="showAttendee(attendee.id)">
      <div class="dummy"></div>
      <img ng-src="{{attendee.picture}}" />
    </div>
  </div>
</div>