<h1>{{ location.name }}</h1>
<div tell-sidebar id="sidebar"></div>
<div notification-icon></div>

<div class="content">
  <div class="location-topbar">
    <h2>Invitados</h2>
  </div>
  <div ng-if="ready" class="attendees-container">
    <a ng-repeat="attendee in attendees" href="#/users/{{attendee.id}}">
      <img ng-src="{{attendee.picture}}" />
    </a>
  </div>
</div>
<div class="attendees-actions">
  <button type="submit" class="btn btn-success" ng-click="showInfo()">
    <i class="fa fa-info-circle"></i>
  </button>
  <button type="submit" class="btn btn-success" ng-click="leave()">
    <i class="fa fa-sign-out"></i>
  </button>
</div>