<div tell-sidebar id="sidebar"></div>
<div notification-icon></div>

<h1 ng-if="locations.length != 0">Boliches</h1>
<h1 ng-if="locations.length == 0">Ups</h1>

<ul class="list-group locations-find" ng-if="locations.length !== 0" >
  <li class="list-group-item" ng-repeat="location in locations" ng-click="go(location.id)">
    <img ng-src="{{ location.photo }}" />
    <div class="location-item-data">
      <h2>{{ location.name }}</h2>
      <small>{{ location.address }}</small>
    </div>
    <div class="clearfix"></div>
  </li>
</ul>
<p ng-if="locations.length === 0" class="location-not-found">
  Lo siento, pero no encontramos ningun lugar con el nombre <em>{{searchName}}</em>.
  Si te parece que debería estar, <a href="mailto:{{support}}?subject=Agregar Local&body=Hola,
 quisiera que agreguen '{{searchName}}' a la lista de locales.">hacé click acá</a> y con gusto lo agregamos!
</p>
