<div tell-sidebar id="sidebar"></div>

<div class="top-bar">
  <div class="action back" ng-click="back()">
    <i class="fa fa-angle-left"></i>
  </div>

  <form ng-submit="search()">
    <input ng-model="nameToSearch" type="search" ng-enter="search()" ng-change="search()" />
    <div class="action search" ng-click="search()">
      <i class="fa fa-search"></i>
    </div>
  </form>
</div>

<div class="content">
  <ul class="list-group locations-find" ng-if="locations.length !== 0" >
    <li class="list-group-item" ng-repeat="location in locations" ng-click="go(location.id)">
      <div class="location-item-img">
              <span class="helper"></span>
              <img ng-src="{{ location.photo_thumb }}" />
          </div>
          <div class="location-item-data">
        <h2>{{ location.name }}</h2>
        <small>{{ location.address }}</small>
      </div>
    </li>
  </ul>
  <p ng-if="type === 'search' && locations.length === 0" class="location-not-found">
    Lo siento, pero no encontramos ningun lugar con el nombre <em>{{searchName}}</em>.
    Si te parece que debería estar,
    <a href="mailto:{{support}}?subject=Agregar Local&body=Hola, quisiera que agreguen '{{searchName}}' a la lista de locales de Warmapp.">
      hacé click acá
    </a> y con gusto lo agregamos!
  </p>
  <p ng-if="type === 'history' && locations.length === 0" class="location-not-found">
    Escribí el nombre del lugar al que quieras ir. También podés buscar por barrio, dirección o tipo de música.
  </p>
</div>