<div tell-sidebar id="sidebar"></div>
<div notification-icon></div>

<h1>{{location.name}}</h1>

<div class="location-show" ng-if="ready">
  <div class="location-photo-container">
    <img ng-src="{{ location.photo }}" />
  </div>
  <span>
    <i class="fa fa-location-arrow"></i>
    {{ location.address }}
  </span>
  <span>
    <i class="fa fa-users"></i>
    {{ location.attendees }}
  </span>
  <p ng-if="location.phone" >
    <i class="fa fa-phone"></i>
    {{ location.phone }}
  </p>

  <p class="description" ng-if="!location.description">
    Vení y conocé quienes van!
  </p>
  <p class="description" ng-if="location.description">
    {{location.description}}
  </p>

  <button type="submit" class="btn btn-success btn-lg" ng-click="attending()">
    <i class="icon-thumbs-up"></i>¡Voy!
  </button>
</div>
