<div tell-sidebar id="sidebar"></div>
<div notification-icon></div>

<h1>{{location.name}}</h1>

<form role="form" class="location-show" ng-if="ready">
  <p class="location-photo-container">
    <img ng-src="{{ location.photo }}" />
  </p>
  <p>
    <i class="fa fa-location-arrow"></i>
    {{ location.address }}
  </p>
  <p ng-if="location.phone" >
    <i class="fa fa-phone"></i>
    {{ location.phone }}
  </p>
  <p>
    Vení y conocé quienes van!
  </p>

  <button type="submit" class="btn btn-success btn-lg" ng-click="attending()">
    <i class="icon-thumbs-up"></i>¡Voy!
  </button>
</form>
