<div tell-sidebar id="sidebar"></div>
<div class="top-bar">
  <div class="action back" ng-click="back()">
    <i class="fa fa-angle-left"></i>
  </div>
  <h1>{{location.name}}</h1>
</div>
<div class="location content" ng-if="ready">
  <div class="fixed-ratio-container ratio-2-1">
    <div class="dummy"></div>
    <img ng-src="{{ location.banner }}" />
  </div>

  <div class="section">
    <i class="fa fa-location-arrow icon"></i>
    <div class="info">{{ location.address }}</div>
  </div>

  <div class="section">
    <i class="fa fa-users icon"></i>
    <div class="info">
      Capacidad: {{ location.capacity }} <br/>
      Invitados: {{ location.attendees_count }}
	</div>
  </div>

  <hr/>
  <p class="description" ng-if="location.description">
      {{location.description}}
  </p>
  <div class="bottom-bar-adjustment"></div>
</div>

<div class="bottom-bar attend-bar" ng-if="ready" >
  <button class="btn btn-success btn-lg" ng-click="attend()" ng-if="!attending">
    ¡Voy!
  </button>
  <button class="btn btn-success btn-lg" ng-click="leave()" ng-if="attending">
    No voy a ir
  </button>
</div>