/* general */

html{
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  font: normal normal 16px Roboto, sans-serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#app {
  height: 100%;
}

.content {
  max-height: 100%;
  padding-bottom: 70px;
  height: 100%;
  margin-bottom: -65px;
  margin-top: 65px;
}
