/* general */

html{
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  font: normal normal 16px Roboto, sans-serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#app {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.content {
  max-height: 100%;
  padding-top: 65px;
}

a:hover, a:visited, a:active, a:link{
  text-decoration:none;
  border:0;
  outline:none;
}

h2, .h2 {
  font-size: 25px;
}