.message {
  margin-top: 0;
  margin-bottom: 0.25em;
  padding: 4px 10px;
  clear: both;
  min-width: 30%;
  max-width: 90%;
  background-color: rgba(1, 1, 1, 0.3);
}

.message.mine {
  float: right;
  background-color: rgba(1, 1, 1, 0.1);
}

.chat-box {
  position: fixed;
  top: 70px;
  bottom: 60px;
  overflow: auto;
  width: 100%;
}

.chat-write{
  position: absolute;
  bottom: 0;
  padding: 3px;
  width: 100%;
}

.chat-write input[type=text]{
  width: 85%;
  display: inline-block;
}

.chat-write button{
  width: 13%;
  display: inline-block;
  height: 40px;
  margin-top: -2px;
  padding: inherit;
}