.message {
  margin-top: 0;
  margin-bottom: 0.25em;
  padding: 4px 10px;
  clear: both;
  min-width: 30%;
  max-width: 90%;
  color: black;
  background-color: rgba(255, 225, 175, 0.9);
  border-radius: 5px 5px 5px 0px;
  font-size: 18px;
  word-wrap: normal;
  word-break: break-word;
  white-space: pre-line;
}

.message.mine {
  float: right;
  background-color: rgba(255, 255, 200, 0.9);
  border-radius: 5px 5px 0px 5px;
}

.chat-box {
  padding-top: 70px;
  padding-bottom: 50px;
  overflow: auto;
}

.chat-write{
  position: fixed;
  bottom: 0;
  padding: 3px;
  width: 100%;
  background-color: black;
}

.chat-write textarea{
  width: 85%;
  display: inline-block;
  font-size: 18px;
  color: #444444;
  padding: 6px;
  height: 40px;
}

.chat-write button{
  width: 13%;
  display: inline-block;
  height: 40px;
  margin-top: -30px;
  padding: 0px;
}