/* roboto */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

/* roboto */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

/* impacto */
@font-face {
  font-family: 'Impacto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Impact.ttf') format('truetype');
}