.home-logo {
  height: 138px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.home-welcome {
  text-align: center;
  font-size: 27px;
	font-weight: bold;
  margin-top: 0.2em;
  margin-bottom: 16px;
  margin-bottom: 2.5em;
  color: #503030;
}

.home-form {
  width:80%;
  margin:auto;
}

.home-form input[type=text]{
  height: 50px;
  font-size: 22px;
}

.home-background .btn {
  width: 100%;
  text-align: middle;
  font-size: 26px;
  margin-bottom: 2em;
}

.home-background .btn i {
  margin-right: 0.5em;
}

.home-background{
  position: absolute;
  height: 490px;
  top: 50%;
  margin-top: -215px;
}
