/* home */

.logo{
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.home-row {
  margin-top: 20px;
  line-height: 120px;
  text-align: center;
}

.home-row button {
  min-width: 200px;
  margin: 0 20px;
  text-align: left;
}

.home-row p {
  line-height: 30px;
}

.home-background{
  padding-top: 50px;
}
