/* home */

.home-logo {
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.home-welcome {
  text-align: center;
  font-size: 33px;
  margin-top: 19px;
}

.home-description {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  margin: 3px 44px;
}

.home-row {
  margin-top: 16px;
  line-height: 74px;
  text-align: center;
}

.home-row .btn {
  width: 290px;
  height: 52px;
  padding: 0px 51px;
  text-align: left;
  background-color: #ff3b00;
  font-size: 26px;
}

.home-qr{
  height: 38px;
  margin-right: 13px;
}

.home-clock{
  height: 34px;
  margin-right: 17px;
}

.home-background{
  position: absolute;
  height: 490px;
  top: 50%;
  margin-top: -245px;
}
