.overlay {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1100;
   background-color: rgba(22,22,22,0.3);
   display: none;
}
/* spinner */
.ajax-loader {
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -25px;
   margin-top: -25px;
   display: block;
   height: 50px;
}

/* popup */
#dialog {
  position: absolute;
  top: 50%;
  margin-top: -75px;
  display: block;
  height: 150px;
  width: 100%;
  background-color: black;
  text-align: center;
}

#dialog .question{
  width: 100%;
  height: 50px;
  font-size: 22px;
  background-color: #FF7700;
  margin-bottom: 5px;
  color: black;
  padding-top: 9px;
}

#dialog .detail{
  color: white;
  height: 45px;
}

/* sidebar */

#sidebar .nav {
  background-color: #E0E0E0;
  z-index: 1040;
  left: 6px;
  right: auto;
  width: 55%;
}

#sidebar a{
  color: black;
}

#sidebar li{
  border-top: #B0B0B0 solid 1px;
  border-left: #B0B0B0 solid 1px;
  border-right: #B0B0B0 solid 1px;
}

#sidebar .nav>li {
  padding: 5px 0;
}

#sidebar .nav>li>a:hover, #sidebar .nav>li>a:focus {
  background-color: white;
}

/* others */

.clearfix {
  clear: both;
}

/* top bar */

div[tell-tabs] {
}

.top-bar {
  position: fixed;
  margin: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 65px;
  z-index: 10;
  background: #800080; /* Para browsers no copados */
  background: linear-gradient(to right, #700070 0%, #600060 100%);
  padding: 5px;
}

.top-bar .action {
  color: white;
  font-size: 36px;
  width: 60px;
  display: inline-block;
  text-align: center;
}

.action.search, .action.back{
  width: 40px;
  z-index: 20;
  position: absolute;
}

.action.search {
  right: 10px;
  top: 5px;
}

.top-bar h1 {
  display: block;
  margin-top: 13px;
  font-size: 26px;
  padding-left: 45px;
  color: white;
}

.bottom-bar{
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 55px;
  z-index: 10;
  background: black;
  padding: 5px;
}

.bottom-bar-adjustment{
  display: block;
  height: 55px;
}


.fixed-ratio-container {
  position: relative;
  width: 100%;
  background: #202020;
}

.ratio-2-1 .dummy{
  padding-top: 50%; /* 2:1 aspect ratio */
}

.ratio-1-1 .dummy{
  padding-top: 100%; /* 2:1 aspect ratio */
}


.fixed-ratio-container img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 0;
}

.fixed-ratio-container img[src] {
   display: block;
}

.list-group-item {
  background-color: #E0E0E0;
  border: 1px solid white;
}

.message-sign {
  color: black;
  padding: 30px;
  background-color: #D0D0D0;
  height: 100%;
}

.message-sign h3{
  margin-top: 15px;
}

.message-sign a{
  color:blue;
}

.night {
  background: url("../img/hands-background.png");
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #200030;
}