.locations-find {
  position: fixed;
  top: 70px;
  bottom: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  padding: 0px 5px;
}

.locations-find .list-group-item .location-item-data {
  margin-left:7em;
}

.locations-find .list-group-item .location-item-data  h2{
  margin-top: 0;
}

.list-group-item {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid white;
	
}

.locations-find .list-group-item {
	min-height: 120px;
}

.locations-find .list-group-item  .location-item-img {
	height:100px;
	float:left;
}

.locations-find .list-group-item  .location-item-img  .helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.location-show {
  width: 80%;
  margin: auto;
}

.location-show p {
  margin-top: 1em;
  font-size: 18pt;
  text-align: center;
}

.location-photo-container{
  height: 200px;
  width: 100%;
  position:relative;
  text-align: center;
}

.location-photo-container img{
  position:absolute;
  top:0;
  bottom:0;
  right: 0;
  left: 0px;
  margin:auto;
  max-width: 100%;
  max-height: 100%;
}

.location-show .btn-lg {
  margin-top: 2em;
  width: 100%;
}

.location-show .fa {
  min-width:20px;
  text-align: center;
}


.location-body h2{
  text-align: center;
}
.location-scroll{
  position: fixed;
  top: 140px;
  bottom: 0px;
  overflow: auto;
  width: 100%;
}

.attendees-container{
  background-color: black;
  text-align: center;
}

.attendees-container a{
  display: inline-block;
  width: 50%;
}

.attendees-container img{
  width: 100%;
}
