.top-bar form{
  display: inline-block;
}
.top-bar input[type=search]{
  top: 12px;
  position: absolute;
  width: 200px;
  display: inline-block;
  height: 40px;
  padding: 6px 12px;
  font-size: 20px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input[type=search]::-webkit-search-cancel-button{
  -webkit-appearance:searchfield-cancel-button !important;
  color: black;
}

.locations-find {
  padding: 0px 5px;
  margin-top: 5px;
}

.locations-find .list-group-item .location-item-data {
  margin-left:7em;
}

.locations-find .list-group-item .location-item-data  h2{
  margin-top: 0;
}

.list-group-item {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid white;

}

.locations-find .list-group-item {
	min-height: 120px;
}

.locations-find .list-group-item  .location-item-img {
	height:100px;
	float:left;
}

.locations-find .list-group-item  .location-item-img  .helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.location-show {
  font-size: 17pt;
}

.location-show span { margin: 5px 10px; }
.location-show p {
  margin-top: 10px;
  text-align: center;
}

.location-show {
  background-color: rgba(0,0,0,0.6);
  padding-top: 5px;
  text-align: center;
}

.location-show .btn-lg {
  width: 80%;
}

.location-show .fa {
  min-width:20px;
  text-align: center;
}

.location-show .description{
  height: 160px;
  overflow: auto;
}

.attendees-container{
  background-color: black;
  text-align: center;
}

.attendees-container a{
  display: inline-block;
  width: 50%;
}

.attendees-container img{
  width: 100%;
}

.location-not-found {
  color: black;
  padding: 30px;
  background-color: #A0A0A0;
  height: 100%;
}

.location-not-found a{
  color:blue;
}

.attendees-actions {
  position: fixed;
  top: 65px;
  padding: 3px;
  right: 0;
}

.location-topbar{
  height: 60px;
  background-color: rgba(0,0,0,0.5);
  padding-top: 20px;
  padding-left: 8px;
}

.location-topbar h2{
  margin: 0px;
}

.attendees-actions .btn{
  width: 54px;
}