.notifications {
  width: 95%;
  margin:auto;
}

.notifications .list-group-item {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid white;
}

.notifications .list-group-item img {
  max-width: 100px;
  max-height: 100px;
  float: left;
  margin-right: 1em;
}

.notifications .list-group-item[read=true] {
  color: gray;
}