.notifications {
  width: 95%;
  margin:auto;
}

.notifications .list-group-item {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid white;
}

.notifications .list-group-item img {
  max-width: 100px;
  max-height: 100px;
  float: left;
  margin-right: 1em;
}

.notifications .list-group-item[read=false] {
  color: yellow;
}

.notifications .list-group-item h2 {
	float: left;
	margin-right: 1em;
}

.notification-icon{
  position: fixed;
  right: 3px;
  top: 2px;
  background: rgba(255,255,255,0.6);
  border: solid gray 1px;
  border-radius: 5px;
  padding: 5px;
}
.notification-icon img{
  width: 60px;
}

.notification-icon p{
  position: fixed;
  top: 5px;
  right: 5px;
  background-color: red;
  width: 20px;
  border-radius: 10px;
  text-align: center;
}