.notifications {
  margin: 5px;
  font-size: 18px;
}

.notifications .list-group-item {
  background-color: #E0E0E0;
  border: 1px solid white;
}

.notifications .list-group-item img {
  max-width: 100px;
  max-height: 100px;
  float: left;
  margin-right: 1em;
}

.notifications .list-group-item[read=false] {
  background-color: #B0B0FF;
}

.notifications .list-group-item h2 {
  float: left;
  margin-right: 1em;
  margin-top: 10px;
}
