.tutorial-description { line-height: 1.5em; margin: 10px; }
.tutorial-description p{ margin-bottom: 2em; }
.tutorial-description img{ width: 100%; }
.tutorial-buttons { background-color: transparent; margin: 10px; text-align: right; }