.login-options{
  text-align: center;
  line-height: 5em;
  margin: 10px 0px 10px;
}

.btn-signup {
  width: 13em;
  margin: auto;
  font-size: 1.2em;
}

.btn-signin {
  width: 13em;
  margin: auto;
  font-size: 1.2em;
}

.login-hr {
  margin: 30px 0px 10px;
}

.signup-selection {
}

.fb-login, .fb-login:hover {
  background-color: #3b5998;
  border: 1px solid #3b5998;
}

.signup-selection a i {
  padding-right: 2px;
}

.login-options p {
  text-align: left;
  line-height: 1.5em;
  margin-top: 2em;
}

p.login-message {
  font-size: 0.8em;
  color: black;
  text-align: center;
}