.login-options{
  text-align: center;
  line-height: 5em;
  margin: 10px 0px 10px;
}

.btn-signup {
  width: 13em;
  margin: auto;
  font-size: 1.2em;
}

.btn-signin {
  width: 13em;
  margin: auto;
  font-size: 1.2em;
}

.login-hr {
  margin: 30px 0px 10px;
}

.signup-selection {
}

.fb-login, .fb-login:hover {
  background-color: #3b5998 !important;
  border: 1px solid #3b5998;
}

.signup-selection a i {
  padding-right: 2px;
}

.login-options p {
  text-align: left;
  line-height: 1.5em;
  margin-top: 2em;
}

p.login-message {
  font-size: 0.8em;
  color: black;
  text-align: center;
}


.user {
  background-color: rgba(0,0,0,0.6);
}

.user .user_photo {
  height: 200px;
}

.user .user_photo img {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  display: block;
}

.user button {
  margin: 2px;
  font-size: 22px;
  width: 48%;
}

.user_info {
  font-size: 1.4em;
  margin: 4px;
  text-align: center;
}
.user_info a {
  display: block;
  color: white;
}

.user-actions{
  position: absolute;
  top: 5px;
  right: 0px;
}

.full_app {
  background-color: #700070;
  background: linear-gradient(to bottom, #700070 0%, #500051 100%);
  margin-top: 0;
  height: 100%;
}
.full_app h1{
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  font-size: 34pt;
}
.full_logo {
  width: 100%;
  padding-bottom: 1em;
}
.full_logo img {
  height: 10em;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}